/* .row {
  margin: 0-50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  box-shadow: 0 25px 26px 0 rgba(0, 0, 0, 0.2);
}
.news-image {
  object-fit: fill;
  width: 170px;
  height: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-image:hover {
  transform: scale(1.5);
  box-shadow: 0 25px 26px 0 rgba(0, 0, 0, 0.2);
}
.img-backGround {
  background-color: lightskyblue;
  width: 160px;
  padding: 3rem;
}
#headlineData {
  position: relative;
  left: 20px;
}
.headlineUrl {
  position: relative;
  left: 20px;
  color: blue;
  text-decoration: none;
}
.headlineUrl:hover {
  color: black;
  text-decoration: underline;
} */
.row {
  padding-top: 55px;
  padding-left: 15px;
}
.headlineCard {
  width: 96%;
  background-color: lightgrey;
  border: 1px solid green;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.headlineCard-text {
  width: 80%;
}
.headlineCard-image {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
.headlineImage:hover {
  transform: scale(1.5);
  box-shadow: 0 25px 26px 26px rgba(0, 0, 0, 0.2);
}
.headlineImage {
  width: 120px;
  height: 90px;
}
.headlineUrl:hover {
  text-decoration: underline;
  color: black;
}
.headlineUrl {
  text-decoration: none;
  color: blue;
}
