/* .home {
  border-bottom: 1px solid black;
} */

/* .menu-border {
  border-bottom: 1px solid black;
} */
.slideBar {
  margin-top: 4.5%;
  height: 100%;
  /* width: 220px; */
  width: 18vw;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(47, 158, 172);
  overflow-x: hidden;
  padding-top: 20px;
}

#home1 {
  /* padding: 0px 0px 0px 0px; */
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  margin-top: -40px;
}
#headline {
  padding: 20px 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}
#headline:hover {
  color: #f1f1f1;
}
#home1:hover {
  color: #f1f1f1;
}
